.Courses{
    display: flex;
    margin: 100px auto;
    width: 80%;
    justify-content: space-between;
}

.Courses__card{
    width: 30%;
    background-color: #fbfbfb;
    box-shadow: 0;
    transition: box-shadow 1s;
}

.Courses__card:hover{
    box-shadow: 0 0 10px #0f436d;
}

.Courses__card-icon{
    margin: 10px auto;
}