.Header{
  margin-top: 18px;
}

.Login{
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
.Login h6:hover{
  cursor: pointer !important;
}

.Login h6{
  font-weight: 700;
  color: #0f436d;
  /* margin-bottom: 0; */
}

.container-fluid{
  width: 80%;
  padding: 0;
}
.Header__logo {
  position: absolute;
  top: -40px;
  max-width: 180px;
  pointer-events: none;
  z-index: 99;
}

.navbar{
  height: 100px;
  background-color: #0f436d;
  padding: 0 !important;
}

.navbar-brand{
  margin: 0 !important;
  padding: 0 !important;
}

.nav-link{
  color: #fbfbfb !important;
  font-size: 20px;
}

.nav-item{
  padding: 0 0 0 16px !important;
}