.block{
  width: 100%;
  /* height: 200px; */
  background-color: #0f436d;
}

.Footer{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  color: #fbfbfb;
  padding: 40px 0;
  font-size: 28px;
}

.Footer__logo{
  max-width: 200px;
}